h1 {
  font-family: "Impact";
  font-size: 6em;
  font-style: italic;
  text-shadow: -5px 0px lightgray;
}
#articleform {
  background-color: pink;
  padding:1em;
  margin:0 0 1em 0
}
h2 {
  font-family: "Arial";
  font-size: 3em;
  text-decoration: underline;
}
#topheadline {
  text-align: center;
}
#newsfeed {
  outline: 2px solid lightgray;
  padding: 1em;
  width:50%;
}
.newsitem {
  box-shadow: 0 2px 0 lightgray;
  font-family: "courier new";
  font-size: 11px;
  text-decoration:underline;
  font-weight: bold;
  padding: .5em 0;
  margin: 0;
}
.importantnews {
  text-transform: uppercase;
}